
<div class="row" id="translateForm" [ngStyle]="{'top': '50%','left': '50%'}">
    <div class="col-md-6 col-md-offset-3">

        <input class="mdl-textfield__input" [ngStyle]="{'border-bottom-color':'white'}" [(ngModel)]="searchQuery" placeholder="Search for Image">
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [ngStyle]="{'left':'40%'}" (click)="searchImages(searchQuery)">Find Image</button>
    </div>
</div>
<p *ngIf="searching" style="text-align: -webkit-center;">
<md-spinner></md-spinner>
</p>
<!--<div [ngStyle]="{'width': '1364px'}">-->
    <md-card  *ngIf="imagesFound">
        <h4  md-subeader>Results</h4>
        <masonry>
            <masonry-brick *ngFor="let image of images" class=image-container>
                <md-card>
                    <a href="{{ image.pageURL }}" target="_bank">
                        <md-card-header>
                            <div class="avatar" md-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'40px 40px'}"></div>
                            <md-card-title>User: {{ image.user }}</md-card-title>
                        </md-card-header>
                        <img md-card-image src="{{image.webformatURL}}">
                        <md-card-content>
                            <p>Tags: {{ image.tags }}</p>
                            <p>Comments: {{ image.comments }}</p>
                            <p>Likes: {{ image.likes }}</p>
                        </md-card-content>
                    </a>
                </md-card>
                <br><br>
            </masonry-brick>
        </masonry>
    </md-card>
<!--</div>-->
<!--<masonry >
    <masonry-brick *ngFor="let image of images" class=image-container>
        <div class="mdl-card ">
            <a href="{{ image.pageURL }}" target="_bank">
                <div class="avatar"  [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'40px 40px'}"></div>
                <div class="mdl-card__title mdl-card--expand">
                    <span class="mdl-card__title-text"><b> User: {{ image.user }} </b></span>
                </div>
                <div class="mdl-card__media">
                    <img  src="{{image.webformatURL}}">
                </div>
                <div class="mdl-card__supporting-text">
                    <p>Tags: {{ image.tags }}</p>
                    <p>Comments: {{ image.comments }}</p>
                    <p>Likes: {{ image.likes }}</p>
                </div>
            </a>
        </div>
        <br><br>
    </masonry-brick>
</masonry>-->

