<div class="text-center" [ngStyle]='{"top": "35%","left": "35%"}'>
    <h1 [ngStyle]='{"color":"white"}'>
        {{title}}
    </h1>
</div>
<div [ngStyle]="{ 'position': 'fixed','top': '3%','left': '80%','height':'35px'}">
    <img [ngStyle]="{'background-color':'white', 'position': 'fixed','top': '3%','left': '80%','height':'35px'}" src="assets/img/logo.png">
</div>
<app-image-list></app-image-list>
